.modal {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.578);
    padding: 5rem 1rem;
}

.modal-content {
    background-color: rgba(255, 0, 0, 0.692);
    border-radius: 6px;
    max-width: 40rem;
    padding: 2rem;
    position: relative;
}

.modal-content h2 {
    text-align: center;
    font-weight: 500;
}

.modal-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.modal-content .close {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 10px;
}

.modal-links a {
    width: fit-content;
    padding: 0.5rem 1rem;
    background: #000;
    border-radius: 6px;
}

.modal-links a.active {
    color: red;
    background-color: white;
}


.dataCourse {
    padding: 1rem;
    width: 100%;
}

.dataCourse .dataCourse-container {
    max-width: 1280px;
    margin: 0 auto;
}

.course-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1.5rem;
}

.course-header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.view-mode-buttons {
    display: flex;
    gap: 1rem;
}

.view-mode-buttons a.active {
    background-color: red;
    color: white;
}

.course-heading {
    width: 100%;
    margin-bottom: 1rem;
}

.course-heading h1 {
    text-align: center;
}

.course-header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.box {
    width: 100%;
    background: rgba(255, 255, 255, 0.141);
    padding: 2rem;
    padding-bottom: 2.5rem;
    border-radius: 6px;
    position: relative;
}

.box>div {
    padding: 1rem;

}

.box h2 {
    font-weight: 500;
    margin-bottom: 2rem;
    color: red;
    padding: 0 1rem;
}

.box h3 {
    font-weight: 500;
    margin-bottom: 1rem;
    color: rgb(35, 142, 242);
}

.box h4 {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.7rem;
}

.box p {
    color: rgba(255, 255, 255, 0.731);
}

.topics-covered>div {
    background-color: rgba(119, 119, 119, 0.22);
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.topics-covered>div:hover {
    background-color: rgba(119, 119, 119, 0.322);
}

.inside-box>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.inside-box span {
    color: rgb(47, 198, 236);
    cursor: pointer;
}

.inside-box span:hover {
    color: rgb(7, 152, 188);
}

.btns {
    width: 100%;
    position: relative;
}

.btns a.prev {
    position: absolute;
    left: 0;
}

.btns a.next {
    position: absolute;
    right: 0;
}

.invalid {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.loading-text {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .box {
        padding: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .box h2 {
        margin-bottom: 1rem;
    }
    .topics-covered>div {
        padding: 1.5rem 1rem;
    }
}
@media screen and (max-width: 555px) {
    .modal-content {
        padding: 1rem;
    }
    .modal-links {
        gap: 0.5rem;
    }
    .box {
        padding: 0rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .btns a.prev {
        left: 1rem;
    }
    .btns a.next {
        right: 1rem;
    }
}