header {
    width: 100vw;
    border-bottom: 1px solid #e0e0e090;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: auto;
    padding: 1rem 0;
}

nav div.nav-logo {
    width: 15rem;
}

nav div.nav-logo img {
    width: 100%;
    cursor: pointer;
}

div.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

div.nav-links a {
    color: grey;
    text-decoration: none;
    padding: 0 1rem;    
    border-bottom: 2px solid grey;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}
div.nav-links a.active {
    border-bottom: 2px solid red;
    color: white;
}